body {
    background-color:#303035;
    color: white;
}

#content {
    text-align: center;
    margin: 0 auto;
}

img {
    vertical-align: middle;
}

.frontpage {
    padding:5px;
    margin:10px; 
    background-color: white;
    box-shadow: 2px 2px 10px 1px #888;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

.footer {
    font-size: 14px;
    text-align: right;
}

.masonry,
.masonry .masonry-brick {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.masonry {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.masonry .masonry-brick {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}
